* {
  margin: 0;
  padding: 0;
}

ul {
  font-size: 0;
}

li {
  font-size: 14px;
}

.clearfix {
  clear: both;
}

body {
  background-color: #333333;
}

#cmd {
  color: #dddddd;
  font-family: "Monaco", "Consolas", monospace;
}
#cmd li {
  list-style: none;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
}
